doctype html
html
  head
    title Vivek Dance Academy
    block scripts 
    block style  
  body
    nav#navbar 
        ul
            div#logo
                img(src = "../static/img/logo.png")
                |VDA
            li #[a(href = "/") Home ]
            li #[a(href = "/") About]
            li #[a(href = "/") Services]
            li #[a(href = "/") Class Info]
            li #[a(href = "/contact") Contact Us]
    block content
    footer#footer
            h3 Copyright © 2021 VivekDanceAcademy.com | All Rights Reserved