@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
h1{
    text-align: center;
    margin: 12px 0;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    width: 45%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}
.btn{
    padding: 7px 16px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 10px;
    background-color: black;
}
.container{
    min-height: 78.2vh;
}
.container h1{
    font-family: 'ZCOOL QingKe HuangYou';
}
#success{
    font-family: 'yeon sung';
    text-align: center;
    color:green;
}